@import "src/assets/styles/_variables.scss";

mat-card {
  position: relative;
  min-height: rem(283);
  width: rem(286);
  .image-border {
    position: absolute;
    height: rem(168);
    width: rem(320);
    top: 0;
    left: 0;
    overflow: hidden;
    background: map-get($colors, dark-gray);
  }
  .image {
    height: rem(168);
    width: rem(320);
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .container {
    padding: rem(168) 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      padding-right: rem(16);
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: rem(84);
      mat-progress-spinner {
        margin: rem(5) auto;
      }
    }
  }
}
@include respond-to('small') {

}
@include respond-to('medium') {
  mat-card {
    height: rem(136);
    width: rem(655);
    min-height: 0;
    .container {
      padding: 0 0 0 rem(320);
      height: 100%;
    }
  }
}
