@import "src/assets/styles/_variables.scss";

.container {
  width: 100%;
  margin: auto;
  h3 {
    padding-left: rem(8);
  }
  .form {
    width: 98%;
    mat-form-field {
      width: 100%;
    }
    .textarea {
      height: 250px;
    }
    .actions {
      margin-top: rem(40);
    }
  }
  .memory-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    &.desktop {
      display: none;
    }
    div {
      width: 98%;
      margin: 0 auto rem(36);
    }
  }
  .post-memory {
    margin: rem(50) 0 rem(50) rem(16);
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
}
@include respond-to('small') {
  .container {
    width: rem(767);
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
    h3 {
      padding-left: 0;
    }
    .form {
      width: rem(936);
      margin: auto;
    }
    .memory-display {
      flex-direction: row;
      &.desktop {
        display: flex;
        .hide {
          display: none;
        }
      }
      &.mobile {
        display: none;
      }
      div {
        width: rem(578);
        margin: 0 0 rem(36);
      }
    }
    .post-memory {
      margin: rem(50) 0;
    }
  }
}
