@import "src/styles.scss";

.container {
  width: rem(1176);
  margin: rem(20) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button.logo {
    background: none;
    border: none;
  }
  .actions {
    width: rem(422);
    display: flex;
    justify-content: space-between;
  }
}
