@import "src/assets/styles/_variables.scss";

.view {
  width: 100%;
  background-color: map-get($colors, white);
  padding: rem(10) 0;
  position: fixed;
  z-index: 1000;
}
.margin-fix {
  padding-top: rem(95);
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button.logo {
    background: none;
    border: none;
  }
  .actions {
    width: rem(422);
    display: flex;
    justify-content: flex-end;
    .create-btn {
      span {
        font-size: rem(16);
      }
    }
    &.desktop {
      display: none;
    }
  }
}
@include respond-to('small') {
  .container {
    .actions {
      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
    }
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
  }
}
