<div class="container">
  <button class="logo" [routerLink]="['/']" routerLinkActive="active">
    <img src="./assets/imgs/Memorial Logo.png" />
  </button>
  <div class="actions desktop">
    <button class="create-btn" mat-button (click)="onCreateMemorial()">Create Memorial</button>
    <button mat-button class="sublte" [routerLink]="['explore']">Search</button>
    <button *ngIf="!loggedIn" mat-button class="subtle" (click)="onLogin()">Login/Sign Up</button>
    <button *ngIf="loggedIn" mat-button class="subtle" [routerLink]="['profile']">Profile</button>
    <button *ngIf="loggedIn" mat-button class="subtle" (click)="onLogout()">Logout</button>
  </div>
  <div class="actions mobile">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onCreateMemorial()">Create Memorial</button>
      <button mat-menu-item [routerLink]="['explore']">Search</button>
      <button *ngIf="!loggedIn" mat-menu-item (click)="onLogin()">Login/Sign Up</button>
      <button *ngIf="loggedIn" mat-menu-item [routerLink]="['profile']">Profile</button>
      <button *ngIf="loggedIn" mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </div>
</div>
