<div class="container">
  <button class="logo" [routerLink]="['/explore']" routerLinkActive="active">
    <img src="./assets/imgs/Memorial Logo.png" />
  </button>
  <div class="actions">
    <button mat-button>Create Memorial</button>
    <button class="clear-btn">Help</button>
    <button *ngIf="!loggedIn" class="clear-btn">Sign Up</button>
    <button *ngIf="!loggedIn" class="clear-btn" (click)="onLogin()">Log In</button>
    <button *ngIf="loggedIn" class="clear-btn" [routerLink]="['/profile']">Profile</button>
  </div>
</div>
