@import "src/styles.scss";

mat-card {
  position: relative;
  padding: 0;
  height: rem(244);
  width: rem(320);
  .image-border {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(320);
    height: rem(168);
    overflow: hidden;
  }
  .image {
    height: rem(168);
    width: rem(320);
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    button {
      flex-grow: 1;
      &.edit {
        width: 100%;
      }
    }
  }
}
