@import "src/assets/styles/_variables.scss";

.container {
  margin-bottom: rem(150);
  .content {
    display: flex;
    align-items: center;
  }
}
.memorial-card {
  margin: rem(50) 0;
}
mat-icon {
  font-size: rem(21);
}
h2 {
  font-size: rem(32);
}
button {
  margin: 0 0 0 rem(36);
}
@include respond-to('small') {
  .container {
    width: 760px;
    margin: auto;
  }
  h2 {
    font-size: rem(48)
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@include respond-to('medium') {
  .container {
    width: rem(687);
    width: initial;
    margin: 0;
  }
  .card-container {
    display: inline;
  }
  button {
    margin: 0 0 0 rem(36);
  }
}
