@import "src/assets/styles/_variables.scss";

.loading-container {
  display: flex;
  justify-content: space-around;
  margin: rem(150) 0;
}
.container {
  width: 90%;
  margin: rem(60) auto;
  app-user-info {
    width: 90%;
  }
}
.org-prompt {
  margin-top: rem(64);
}
@include respond-to('small') {
  .container {
    width: 100%;
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
    app-user-info {
      width: initial;
    }
  }
}
