<mat-card [class.unpublished]="needsApproval">
    <mat-card-header>
      <div class="container">
        <div class="title">
          <mat-card-title>{{ memory.title }}</mat-card-title>
          <mat-card-subtitle>{{ memory.first_name }} {{ memory.last_name }}</mat-card-subtitle>
        </div>
        <div class="status">
          <button mat-button *ngIf="needsApproval || memory.denied" [disabled]="saving$ | async" class="approve" (click)="onApprove()">
            <mat-icon *ngIf="!(saving$ | async)">check</mat-icon>
            <mat-progress-spinner *ngIf="(saving$ | async)" mode="indeterminate" strokeWidth="1" diameter="20"></mat-progress-spinner>
          </button>
          <button mat-button *ngIf="needsApproval || memory.published" [disabled]="saving$ | async" class="deny" (click)="onDeny()">
            <mat-icon *ngIf="!(saving$ | async)">clear</mat-icon>
            <mat-progress-spinner *ngIf="saving$ | async" mode="indeterminate" color="accent" strokeWidth="1" diameter="20"></mat-progress-spinner>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ memory.description }}</p>
    </mat-card-content>
  </mat-card>
