@import "src/assets/styles/_variables.scss";

mat-card.mat-card {
  background: map-get($colors, background);
  border-radius: 2px;
  padding: rem(21) rem(30) rem(30);
  .mat-header, .mat-card-title {
    color: map-get($colors, black);
    font-family: $serifFont;
    font-weight: 700;
  }
  &.unpublished {
    opacity: .7;
    background: map-get($colors, primary-lightest);
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .status-container {
      display: flex;
    }
    .status {
      p {
        font-size: rem(12);
        &.denied {
          color: map-get($colors, warn);
        }
      }
    }
  }
  mat-card-content {
    p {
      white-space: pre-line;
    }
  }
}
