<div *ngIf="error$ | async" class="error">
  <div *ngIf="(error$ | async).status === 401">
    <h1>Error</h1>
    <h6>You do not have permission to edit this memorial</h6>
  </div>
  <div *ngIf="(error$ | async).status === 404">
    <h1>Error</h1>
    <h6>This memorial does not exist</h6>
  </div>
  <div *ngIf="(error$ | async).status !== 401 && (error$ | async).status !== 404">
    <h1>Error</h1>
    <h6>An unexpected error occurred. Try again. If the error continues please contact support.</h6>
  </div>
</div>
<mat-drawer-container *ngIf="(memorial$ | async).memorial" class="nav-container">
  <mat-drawer mode="side" [opened]="opened">
    <app-create-nav [memorial]="(memorial$ | async).memorial" [saving]="saving$ | async" (publish)="togglePublish($event)"></app-create-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="view">
      <button mat-fab class="mobile-floater" (click)="toggleSidebar()">
        <mat-icon aria-label="Toggle Menu">menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
    <div *ngIf="!(memorial$ | async).memorial.unlocked && unlockOverlay" class="unlock-overlay">
      <app-unlock-overlay [memorial]="(memorial$ | async).memorial"></app-unlock-overlay>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
