<div *ngIf="error$ | async" class="error">
  <div *ngIf="(error$ | async).status === 401">
    <h1>Error</h1>
    <h6>You do not have permission to edit this memorial</h6>
  </div>
  <div *ngIf="(error$ | async).status === 404">
    <h1>Error</h1>
    <h6>This memorial does not exist</h6>
  </div>
  <div *ngIf="(error$ | async).status !== 401 && (error$ | async).status !== 404">
    <h1>Error</h1>
    <h6>An unexpected error occurred. Try again. If the error continues please contact support.</h6>
  </div>
</div>
<mat-drawer-container *ngIf="(memorial$ | async).memorial" class="nav-container">
  <mat-drawer mode="side" [opened]="opened">
    <app-create-nav [memorial]="(memorial$ | async).memorial" [saving]="saving$ | async" (publish)="togglePublish($event)"></app-create-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="view">
      <button mat-fab class="mobile-floater" (click)="toggleSidebar()">
        <mat-icon aria-label="Toggle Menu">menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
      <div *ngIf="!(memorial$ | async).memorial.unlocked && !unlockOverlay" class="lock-banner">
        <mat-card class="content">
          <div class="header">
            <div class="title">
              <mat-icon [class.hovered]="!isHover">{{ isHover ? 'lock_open' : 'lock' }}</mat-icon>
              <h4>Limited Memorial</h4>
            </div>
            <p>Unlock to add full features.</p>
          </div>
          <button mat-button class="primary" (mouseenter)="toggleHover()" (mouseleave)="toggleHover()" (click)="openUnlock()">Unlock</button>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!(memorial$ | async).memorial.unlocked && unlockOverlay" class="unlock-overlay">
      <app-unlock-overlay [memorial]="(memorial$ | async).memorial" (unlock)="openUnlock()"></app-unlock-overlay>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
