@import "src/styles.scss";


mat-drawer-container {
  height: inherit;

  mat-drawer {
    overflow: hidden;
    border-right: 2px solid map-get($colors, primary-darkest);
  }

  mat-drawer-content {
    background: #fafdfe;
    margin-right: 0px;
    height: calc(100vh - 95px);
    overflow-x: hidden;
    .unlock-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,.2);
      display: flex;
      justify-content: space-around;
    }
  }
}
.view {
  position: relative;
  padding-bottom: 300px;
  min-height: calc(100vh - 463px);
}
.container {
  margin: rem(90) auto rem(32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  flex-wrap: wrap;
  .actions {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: rem(350);
  }
  h2 {
    font-size: rem(32);
  }
}
.error {
  div {
    width: rem(336);
    margin: rem(64) auto;
  }
}
@include respond-to('small') {
  .container {
    h2 {
      font-size: rem(48);
    }
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
  }
}

.mobile-floater {
  display: none;
  background-color: map-get($colors, primary) !important;
  position: fixed;
  z-index: 99999;
  bottom: 0.5rem;
  margin-left: 0.5rem;

  mat-icon {
    color: white;
  }
}

@media (max-width: 1200px) {
  .mobile-floater {
    display: block;
  }
}
