@import "src/styles.scss";

.container {
  margin: rem(90) auto rem(32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  flex-wrap: wrap;
  .actions {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: rem(350);
  }
  h2 {
    font-size: rem(32);
  }
}
@include respond-to('small') {
  .container {
    h2 {
      font-size: rem(48);
    }
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
  }
}
