<div *ngIf="error$ | async" class="error">
  <div *ngIf="(error$ | async).status === 401">
    <h1>Error</h1>
    <h6>You do not have permission to edit this memorial</h6>
  </div>
  <div *ngIf="(error$ | async).status === 404">
    <h1>Error</h1>
    <h6>This memorial does not exist</h6>
  </div>
  <div *ngIf="(error$ | async).status !== 401 && (error$ | async).status !== 404">
    <h1>Error</h1>
    <h6>An unexpected error occurred. Try again. If the error continues please contact support.</h6>
  </div>
</div>
<div *ngIf="(loaded$ | async) && !(error$ | async)" class="container">
  <h2>Create a Memorial</h2>
  <div class="actions">
    <button *ngIf="!(memorial$ | async).memorial?.published" mat-button class="primary" (click)="togglePublish(true)">Publish Memorial</button>
    <button *ngIf="(memorial$ | async).memorial?.published" mat-button class="secondary" (click)="togglePublish(false)">Unpublish Memorial</button>
    <button mat-button class="secondary" [routerLink]="['/memorial', (memorial$ | async).memorial?.uuid]">
      <span *ngIf="!(memorial$ | async).memorial?.published">Preview Memorial</span>
      <span *ngIf="(memorial$ | async).memorial?.published">View Memorial</span>
    </button>
  </div>
</div>
<mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>
<mat-tab-group *ngIf="loaded$ | async" class="create-tabs" [selectedIndex]="activeTab" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Basic Info">
    <ng-template matTabContent>
      <app-memorial-info
        *ngIf="loaded$ | async"
        [memorialInfo]="(memorial$ | async).memorial"
        (save)="onUpdateMemorial($event)"
        (toTimeline)="onTabChange($event)"></app-memorial-info>
    </ng-template>
  </mat-tab>
  <mat-tab label="Timeline">
    <ng-template matTabContent>
      <app-create-timeline
        *ngIf="loaded$ | async"
        [memorial]="(memorial$ | async).memorial"
        [timeline]="(memorial$ | async).timeline"
        (toLocation)="onTabChange($event)"></app-create-timeline>
    </ng-template>
  </mat-tab>
  <mat-tab label="Location">
    <ng-template matTabContent>
      <app-add-location
        [latitude]="(locationSearch$ | async).latitude"
        [longitude]="(locationSearch$ | async).longitude"
        [zoom]="(locationSearch$ | async).zoom"
        [memorial_id]="(memorial$ | async).memorial.uuid"
        (toMemories)="onTabChange($event)"></app-add-location>
    </ng-template>
  </mat-tab>
  <mat-tab label="Memories">
    <ng-template matTabContent>
      <app-approve-memories
        [memories]="(memorial$ | async).memories"
        [public]="(memorial$ | async).memorial?.public_post"
        (switchPublic)="onUpdateMemorial($event)"></app-approve-memories>
    </ng-template>
  </mat-tab>
</mat-tab-group>
