<div class="container">
  <div *ngIf="(memorial$ | async).memorial" class="form-container mat-elevation-z3">
    <h4>Memories</h4>
    <p>
      Anyone who visits your memorial will be able to submit their memories of
      <span *ngIf="(memorial$ | async).memorial?.first_name">{{ (memorial$ | async).memorial?.first_name }}</span>
      <span *ngIf="!(memorial$ | async).memorial?.first_name">your loved one</span>.
      As the owner of the memorial you decide if the memories submitted can be
      posted automatically or if you want to approve them before they are submitted.
      You will receive an email notification whenever a new memory is submitted.
    </p>
    <mat-checkbox [checked]="!(memorial$ | async).memorial.public_post" (change)="togglePublic()" color="primary">Ask for my approval before publishing memories</mat-checkbox><br>
    <div class="action">
      <button mat-button class="primary back-btn" [routerLink]="['/create', (memorial$ | async).memorial?.uuid, 'photos']"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
      <button mat-button *ngIf="!(memorial$ | async).memorial?.published" class="primary" (click)="togglePublish(true)">Finish & Publish Memorial</button>
    </div>
  </div>
  <div class="memory-container mat-elevation-z3" *ngIf="!public">
    <div class="for-approval">
      <div class="title">
        <div class="actions">
          <button mat-button (click)="toggleExpand('toApprove')">
            <mat-icon *ngIf="!showToApprove">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="showToApprove">arrow_drop_up</mat-icon>
          </button>
        </div>
        <h4>Need Approval</h4>
        <div class="number" [class.empty]="toApprove.length === 0">
          <p>{{ toApprove.length }}</p>
        </div>
      </div>
      <div *ngIf="showToApprove" class="memories">
        <div *ngFor="let memory of toApprove">
          <app-approval-card [memory]="memory" [needsApproval]="true"></app-approval-card>
        </div>
      </div>
    </div>
    <div class="denied">
      <div class="title">
        <div class="actions">
          <button mat-button (click)="toggleExpand('denied')">
            <mat-icon *ngIf="!showDenied">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="showDenied">arrow_drop_up</mat-icon>
          </button>
        </div>
        <h4>Denied</h4>
        <div class="number" [class.empty]="denied.length === 0">
          <p>{{ denied.length }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showDenied" class="memories">
      <div *ngFor="let memory of denied">
        <app-approval-card [memory]="memory" [needsApproval]="false"></app-approval-card>
      </div>
    </div>
    <div class="approved">
      <div class='title'>
        <div class="actions">
          <button mat-button (click)="toggleExpand('approved')">
            <mat-icon *ngIf="!showApproved">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="showApproved">arrow_drop_up</mat-icon>
          </button>
        </div>
        <h4>Approved</h4>
        <div class="number" [class.empty]="approved.length === 0">
          <p>{{ approved.length }}</p>
        </div>
      </div>
      <div *ngIf="showApproved" class="memories">
        <div *ngFor="let memory of approved">
          <app-approval-card [memory]="memory" [needsApproval]="false"></app-approval-card>
        </div>
      </div>
    </div>
  </div>
  <div class="memory-container" *ngIf="public">
    <div class="memories">
      <div *ngFor="let memory of memories">
        <app-approval-card [memory]="memory" [needsApproval]="false"></app-approval-card>
      </div>
    </div>
  </div>
</div>
