<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header (click)="toggleForm()">
    <div class="info">
      <mat-panel-title>{{ (timeline.date | date:timeline.date_format) || 'New Event' }}</mat-panel-title>
      <mat-panel-description *ngIf="timeline.description">{{ (timeline.description.length > 30) ? (timeline.description | slice:0:30) + '...' : timeline.description }}</mat-panel-description>
    </div>
    <button class="delete" [disabled]="saving$ | async" mat-button (click)="onRemoveTimelineEntry()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <form [formGroup]="timelineForm">
    <div class="date">
      <mat-form-field class="datepicker" appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date">
        <mat-datepicker-toggle [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date Format</mat-label>
        <mat-select formControlName="date_format">
          <mat-option *ngFor="let option of formatOptions" [value]="option.value">
            {{ option.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="textarea" appearance="outline">
      <mat-label>What happened on this date?</mat-label>
      <textarea
        matInput
        formControlName="description"
        maxlength="1000"></textarea>
      <mat-hint align="end">{{timelineForm.value.description.length}} / 1000</mat-hint>
    </mat-form-field>
  </form>
  <div class="save" *ngIf="timelineForm.dirty">
    <button mat-button class="primary" [disabled]="timelineForm.invalid || (saving$ | async)" (click)="onSaveChanges()">
      <span *ngIf="!(saving$ | async)">Save Changes</span>
      <span *ngIf="saving$ | async">...Saving</span>
    </button>
  </div>
  <form class="media-form" [formGroup]="assetForm">
    <mat-form-field appearance="outline">
      <mat-label>Media type</mat-label>
      <mat-select (selectionChange)="onSelection($event)" formControlName="asset_type">
        <mat-option [value]="null">No Media</mat-option>
        <mat-option *ngFor="let option of assetOptions" [value]="option.value">
          {{ option.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="assetForm.value.asset_type === 'video'" class="youtube-link" appearance="outline">
      <mat-label>Youtube link</mat-label>
      <input matInput formControlName="asset_link" (keyup)="onLink()" (change)="onLink()">
    </mat-form-field>
  </form>
  <div class="asset-view">
    <div *ngIf="assetForm.value.asset_type === 'video'">
      <iframe *ngIf="timeline.asset_link?.length === 11" width="660" height="371" [src]="videoSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div *ngIf="assetForm.value.asset_type === 'image'">
      <app-image-viewer
        *ngIf="timeline.asset_link && timeline.asset_type === 'image'"
        [image]="timeline.asset_link"
        [id]="timeline.uuid"
        [type]="'timeline'"
        [format]="imageFormat"
        (remove)="onRemoveFile($event)"></app-image-viewer>
      <app-upload-image
        *ngIf="!timeline.asset_link || timeline.asset_type !== 'image'"
        [id]="timeline.uuid"
        [type]="'timeline'"
        (click)="onSaveChanges()"></app-upload-image>
    </div>
  </div>
</mat-expansion-panel>
