@import "src/styles.scss";

.container {
  width: 100%;
  .textarea {
    width: 100%;
  }
  form {
    margin: rem(16) 0;
    .date, .event {
      display: flex;
      justify-content: space-between;
      mat-form-field {
        width: 48%;
      }
    }
  }
  .inactive {
    display: none;
  }
  .expand-container {
    display: flex;
    justify-content: space-between;
    margin: rem(16) 0;
    .info {
      width: 75%;
    }
    .delete {
      color: map-get($colors, warn);
    }
  }
}
