<div class="container">
  <div class="form-container mat-elevation-z3">
    <h4>Photo Album</h4>
    <p>
      Anyone who visits your memorial will be able to submit their photos
      <span *ngIf="(memorial$ | async).memorial.first_name">of {{ (memorial$ | async).memorial.first_name }}</span>.
      As the owner of the memorial you decide if the photos submitted can be
      posted automatically or if you want to approve them before they are submitted.
      You will receive an email notification whenever a new photo is submitted.
    </p>
    <mat-checkbox [checked]="!(memorial$ | async).memorial.public_photo" (change)="togglePublic()" color="primary">Ask for my approval before publishing photos</mat-checkbox><br>
    <div class="action">
      <button mat-button class="primary back-btn" [routerLink]="['/create', (memorial$ | async).memorial?.uuid, 'location']"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
      <button mat-button class="primary" [routerLink]="['/create', (memorial$ |  async).memorial?.uuid, 'memories']"><mat-icon>keyboard_arrow_right</mat-icon> Next</button>
    </div>
  </div>
</div>
