<div class="container">
  <mat-card>
    <mat-icon class="locked">lock</mat-icon>
    <h4>Free Memorial</h4>
    <h5>$0</h5>
    <mat-divider></mat-divider>
    <ul>
      <li>
        <mat-icon>check</mat-icon><p>Cover Image</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Basic Info</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Short Bio</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Shared Memories</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Geolocated pin</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Send Flowers</p>
      </li>
      <li>
        <div></div><p>Interactive Timeline</p>
      </li>
      <li>
        <div></div><p>Shared Photo Album</p>
      </li>
      <li>
        <div></div><p>Military Record</p>
      </li>
    </ul>
    <button mat-button class="primary" (click)="onFree()">Create</button>
  </mat-card>
  <mat-card>
    <mat-icon class="open">lock_open</mat-icon>
    <h4>Full Memorial</h4>
    <h5>$60</h5>
    <mat-divider></mat-divider>
    <ul>
      <li>
        <mat-icon>check</mat-icon><p>Cover Image</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Basic Info</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Short Bio</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Shared Memories</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Geolocated pin</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Send Flowers</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Interactive Timeline</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Shared Photo Album</p>
      </li>
      <li>
        <mat-icon>check</mat-icon><p>Military Record</p>
      </li>
    </ul>
    <button mat-button class="primary" (click)="onFull()">Create</button>
  </mat-card>
</div>
