@import "src/styles.scss";

.container {
  margin-bottom: rem(150);
}
.loading {
  display: flex;
  justify-content: space-around;
  margin-top: rem(150);
}
.preview {
  position: fixed;
  top: rem(112);
  left: rem(20);
  right: rem(20);
  mat-card {
    display: flex;
    justify-content: space-between;
    background: map-get($colors, primary-lightest);
  }
}
.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: rem(64) auto;
  .image {
    background-image: url('https://s3.amazonaws.com/memorial-staging-imgs/assets/error.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: rem(308);
  }
  .info {
    width: 92%;
    margin: auto;
  }
  h1 {
    margin-bottom: rem(32);
    font-size: rem(32);
    line-height: rem(64);
  }
  p {
    margin-top: rem(32);
    margin-bottom: rem(100);
  }
}
@include respond-to('small') {
  .error {
    width: rem(767);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .image {
      width: 100%;
      height: rem(443);
    }
    .info {
      width: rem(690);
      h1 {
        font-size: rem(60);
        line-height: rem(88);
      }
      p {
        width: rem(400);
      }
    }
  }
}
@include respond-to('medium') {
  .error {
    width: rem(1176);
    .image {
      width: rem(440);
    }
  }
}
