@import "src/styles.scss";

.container {
  margin-bottom: rem(150);
}
.loading {
  display: flex;
  justify-content: space-around;
  margin-top: rem(150);
}
.preview {
  position: fixed;
  top: rem(32);
  left: rem(20);
  right: rem(20);
  mat-card {
    display: flex;
    justify-content: space-between;
    background: map-get($colors, primary-lightest);
  }
}
