<div class="loading" *ngIf="loading$ | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!(loading$ | async) && (error$ | async)" class="error">
  <div class="image">

  </div>
  <div class="info">
    <h1>There was an error loading this memorial.</h1>
    <h6 *ngIf="(error$ | async).status === 504">{{ (error$ | async).error?.error }}</h6>
    <p>If this memorial belongs to you, you must login and publish your memorial to make it visible to others.</p>
  </div>
</div>
<div class="container" *ngIf="loaded$ | async">
  <app-memorial-header [memorial]="(selectedMemorial$ | async).memorial"></app-memorial-header>
  <app-memorial-info [memorial]="(selectedMemorial$ | async).memorial" [location]="(selectedMemorial$ | async).location"></app-memorial-info>
  <app-memorial-timeline *ngIf="(selectedMemorial$ | async).timeline.length > 0" [timeline]="(selectedMemorial$ | async).timeline" [memorial]="(selectedMemorial$ | async).memorial"></app-memorial-timeline>
  <app-memorial-location *ngIf="(selectedMemorial$ | async).location" [location]="(selectedMemorial$ | async).location"></app-memorial-location>
  <app-memorial-memories
    *ngIf="(selectedMemorial$ | async).memories"
    [memories]="(selectedMemorial$ | async).memories"
    [public]="(selectedMemorial$ | async).memorial.public_post"
    [user]="user$ | async"
    (addEvent)="onAddMemory($event)"
    (login)="onLogin()"></app-memorial-memories>
</div>
<div *ngIf="(selectedMemorial$ | async).memorial && !(selectedMemorial$ | async).memorial?.published" class="preview">
  <mat-card>
    <h4>Memorial Preview</h4>
    <div class="actions">
      <button mat-button class="subtle" [routerLink]="['/create', (selectedMemorial$ | async).memorial?.uuid]">Exit Preview</button>
    </div>
  </mat-card>
</div>
