<div class="info mat-elevation-z3">
  <div class="birth">
    <p>Birth</p>
    <h6>{{ (memorial.birth_date | date) || 'Unknown' }}</h6>
  </div>
  <div class="death">
    <p>Death</p>
    <h6>{{ (memorial.death_date | date) || 'Unknown' }}</h6>
  </div>
  <div class="location">
    <p>Location</p>
    <h6>{{ location?.description || 'Unknown' }}</h6>
  </div>
  <div class="social">
    <div id="fb-share-button" (click)="shareFacebook()">
      <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
          <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
      </svg>
      <span>Share</span>
    </div>
    <button class="pinterest" (click)="sharePinterest()">
        <img src="assets/imgs/pinterest_icon.png">
    </button>
  </div>
</div>
<div *ngIf="memorial.description" class="description">
  <h3>About {{ memorial.first_name }}</h3>
  <p [class.columns]="memorial.description?.length > 330">{{ memorial.description }}</p>
</div>
