@import "src/styles.scss";


form {
  position: relative;
  input {
    margin-top: rem(8);
  }
  .hider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: rem(98);
    right: 0;
    background: map-get($colors, white);
  }
}
.files {
  margin-top: rem(16);
  max-height: rem(300);
  overflow-y: scroll;
  .file-loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(8);
    padding: 0 rem(8);
    border: solid 2px map-get($colors, gray);
    &.error {
      border: solid 2px map-get($colors, warn);
      p {
        color: map-get($colors, warn);
      }
    }
    .icon {
      mat-icon {
        color: map-get($colors, success);
      }
      &.hidden {
        visibility: hidden;
      }
    }
  }
}
mat-progress-bar {
  transform: translateY(rem(-12));
}
.warn {
  color: map-get($colors, warn);
}
