@import "src/assets/styles/_variables.scss";

.container {
  h2 {
    font-size: rem(32);
  }
  form {
    margin: rem(50) 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    .email {
      min-width: rem(260);
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
}
@include respond-to('small') {
  .container {
    width: rem(760);
    margin: auto;
    h2 {
      font-size: rem(48);
    }
    form {
      width: rem(760);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .actions {
        transform: translateY(rem(-10))
      }
    }
  }
}
@include respond-to('medium') {
  .container {
    width: initial;
    margin: initial;
  }
}
