<app-order-details [quantityForm]="quantityForm" [discount]="discount$ | async"></app-order-details>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Add discount code</mat-panel-title>
  </mat-expansion-panel-header>
  <form (submit)="checkDiscount()" [formGroup]="discountForm">
    <mat-form-field appearance="outline">
      <mat-label>Discount Code</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="discountError$ | async">{{ (discountError$ | async).message }}</mat-error>
    </mat-form-field>
    <button mat-button class="primary" type="submit" [disabled]="discountForm.invalid">Apply Code</button>
  </form>
</mat-expansion-panel>
<form class="card-form" [formGroup]="cardForm">
  <h3>Payment Details</h3>
  <div class="cardholder">
    <mat-form-field class="name" appearance="outline">
      <mat-label>Cardholder Name</mat-label>
      <input matInput formControlName="name" autocomplete="cc-name">
    </mat-form-field>
    <mat-form-field class="desktop" appearance="outline">
      <mat-label>Billing Zip</mat-label>
      <input matInput formControlName="address_zip" autocomplete="shipping postal-code">
    </mat-form-field>
  </div>
  <mat-form-field class="card-number" appearance="outline">
    <mat-label>Card Number</mat-label>
    <input matInput formControlName="number" autocomplete="cc-number" ccNumber>
  </mat-form-field>
  <div class="details">
    <div class="exp">
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select formControlName="exp_month" autocomplete="cc-exp-month">
          <mat-option *ngFor="let month of monthOptions" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select formControlName="exp_year" autocomplete="cc-exp-year">
          <mat-option *ngFor="let year of yearOption" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="cvc" appearance="outline">
      <mat-label>CVC</mat-label>
      <input matInput formControlName="cvc" autocomplete="off" ccCVC>
    </mat-form-field>
    <mat-form-field class="zip mobile" appearance="outline">
      <mat-label>Billing Zip</mat-label>
      <input matInput formControlName="address_zip" autocomplete="shipping postal-code">
    </mat-form-field>
  </div>
  <button mat-button class="primary" [class.loading]="(purchasing$ | async)" (click)="createToken(cardForm.value)" [disabled]="disableBtn || (purchasing$ | async)">
    <span *ngIf="!(purchasing$ | async)">Purchase ({{ quantityForm.value.price | currency }})</span>
    <span *ngIf="(purchasing$ | async)"><mat-progress-spinner strokeWidth="1" diameter="20" mode="indeterminate" color="secondary"></mat-progress-spinner></span>
  </button>
  <p *ngIf="error$ | async" class="error">{{ (error$ | async).error.error }}</p>
</form>
