<div class="step-1" *ngIf="step === 1">
  <app-order-details [quantityForm]="quantityForm" [discount]="discount$ | async"></app-order-details>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Add discount code</mat-panel-title>
    </mat-expansion-panel-header>
    <form (submit)="checkDiscount()" [formGroup]="discountForm">
      <mat-form-field appearance="outline">
        <mat-label>Discount Code</mat-label>
        <input matInput formControlName="code"><mat-icon *ngIf="(discount$ | async).code === discountForm.value.code" class="checked">check_circle_outline</mat-icon>
        <mat-error *ngIf="discountError$ | async">{{ (discountError$ | async).message }}</mat-error>
      </mat-form-field>
      <button mat-button class="primary" type="submit" [disabled]="discountForm.invalid || (discount$ | async).code === discountForm.value.code">Apply Code</button>
    </form>
  </mat-expansion-panel>
  <div class="actions">
    <button mat-button class="primary" (click)="onStep(1)">Continue <mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
<div class="step-2" *ngIf="step === 2">
  <app-credit-card-details
    [cardForm]="cardForm"
    [price]="quantityForm.value.price"
    [error]="error$ | async"
    (back)="onStep(-1)"
    (purchase)="createToken($event)"></app-credit-card-details>
</div>
