<div class="step-1" *ngIf="step === 1">
  <app-order-details [quantityForm]="quantityForm" [discount]="discount$ | async"></app-order-details>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Add discount code</mat-panel-title>
    </mat-expansion-panel-header>
    <form (submit)="checkDiscount()" [formGroup]="discountForm">
      <mat-form-field appearance="outline">
        <mat-label>Discount Code</mat-label>
        <input matInput formControlName="code"><mat-icon *ngIf="(discount$ | async).code === discountForm.value.code" class="checked">check_circle_outline</mat-icon>
        <mat-error *ngIf="discountError$ | async">{{ (discountError$ | async).message }}</mat-error>
      </mat-form-field>
      <button mat-button class="primary" type="submit" [disabled]="discountForm.invalid || (discount$ | async).code === discountForm.value.code">Apply Code</button>
    </form>
  </mat-expansion-panel>
  <div class="actions">
    <button mat-button class="primary" (click)="onStep(1)">Continue <mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
<div class="step-2" *ngIf="step === 2">
  <form class="card-form" [formGroup]="cardForm">
    <h3>Payment Details</h3>
    <div class="cardholder">
      <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  class="name" appearance="outline">
        <mat-label>Cardholder Name</mat-label>
        <input matInput formControlName="name" autocomplete="cc-name">
      </mat-form-field>
      <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  class="desktop" appearance="outline">
        <mat-label>Billing Zip</mat-label>
        <input matInput formControlName="address_zip" autocomplete="shipping postal-code">
      </mat-form-field>
    </div>
    <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  class="card-number" appearance="outline">
      <mat-label>Card Number</mat-label>
      <input matInput formControlName="number" autocomplete="cc-number" ccNumber>
    </mat-form-field>
    <div class="details">
      <div class="exp">
        <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  appearance="outline">
          <mat-label>Month</mat-label>
          <mat-select formControlName="exp_month" autocomplete="cc-exp-month">
            <mat-option *ngFor="let month of monthOptions" [value]="month">
              {{ month }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select formControlName="exp_year" autocomplete="cc-exp-year">
            <mat-option *ngFor="let year of yearOption" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  class="cvc" appearance="outline">
        <mat-label>CVC</mat-label>
        <input matInput formControlName="cvc" autocomplete="off" ccCVC>
      </mat-form-field>
      <mat-form-field matTooltip="Credit Card not required" [matTooltipDisabled]="quantityForm.value.price > 0"  class="zip mobile" appearance="outline">
        <mat-label>Billing Zip</mat-label>
        <input matInput formControlName="address_zip" autocomplete="shipping postal-code">
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-button class="secondary" (click)="onStep(-1)"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
      <button mat-button class="primary" [class.loading]="(purchasing$ | async)" (click)="createToken(cardForm.value)" [disabled]="disableBtn || (purchasing$ | async)">
        <span *ngIf="!(purchasing$ | async)">Purchase ({{ quantityForm.value.price | currency }})</span>
        <span *ngIf="(purchasing$ | async)"><mat-progress-spinner strokeWidth="1" diameter="20" mode="indeterminate" color="secondary"></mat-progress-spinner></span>
      </button>
    </div>
    <p *ngIf="error$ | async" class="error">{{ (error$ | async).error.error }}</p>
  </form>
</div>
