@import "src/styles.scss";

.container {
  width: rem(696);
  margin: rem(64) auto;
  form, mat-form-field {
    width: 100%;
  }
  agm-map {
    width: 100%;
    height: rem(320);
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: rem(48) auto
  }
}
