@import "src/styles.scss";

.container {
  width: rem(250);
  height: 100%;
  min-height: rem(700);
  background: map-get($colors, primary-lightest);
  mat-divider {
    border-top-color: map-get($colors, primary-darkest);
  }
  .memorial-info {
    height: rem(343);
    background: map-get($colors, primary-darkest);
    .image-border {
      width: rem(270);
      height: rem(140);
      overflow: hidden;
      margin-left: rem(16);
      border: 3px solid map-get($colors, white);
      border-radius: 4px;
      .image {
        height: rem(140);
        width: rem(270);
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
    .info {
      margin-top: rem(16);
    }
    h3, .info {
      padding-left: rem(16);
      color: map-get($colors, white);
      h6 {
        color: map-get($colors, white);
      }
    }
    .actions {
      display: flex;
      justify-content: space-around;
      margin-top: rem(8);
      button {
        mat-progress-spinner {
          margin: 0 rem(60);
        }
      }
    }
  }
  .nav-option {
    display: flex;
    align-items: center;
    width: 100%;
    padding: rem(16) 0 rem(16) 10%;
    background: map-get($colors, primary-lightest);
    color: map-get($colors, white);
    border: none;
    font-family: $sansFont;
    font-size: rem(20);
    text-align: left;
    mat-icon {
      margin-right: rem(8);
      &.lock {
        margin-left: rem(8);
        font-size: rem(16);
        height: rem(16);
        width: rem(16);
      }
    }
    &:hover {
      background: map-get($colors, primary-light);
    }
    &.active {
      background: map-get($colors, primary);
      border-left: 5px solid map-get($colors, secondary);
    }
  }
}
@media only screen and (max-width: 340px) {
  .container {
    min-height: rem(760);
    .memorial-info {
      height: rem(375);
      .image-border {
        transform: translateX(-10%) scale(0.8);
      }
      .info {
        margin-top: 0;
      }
      h3 {
        font-size: rem(28);
      }
      h6 {
        font-size: rem(17);
      }
      .actions {
        flex-wrap: wrap;
        button {
          margin-bottom: rem(8);
        }
      }
    }
  }
}
@media only screen and (min-width: 340px) {
  .container {
    width: rem(350);
  }
}
