<div class="container">
  <div class="memorial-info">
    <h3>Edit Memorial</h3>
    <div class="image-border">
      <div class="image">
        <img [src]="imgFormat.src" [style.transform]="imgFormat.transform">
      </div>
    </div>
    <div class="info">
      <h6>{{ name }}</h6>
      <h6 *ngIf="memorial?.birth_date && memorial?.death_date">{{ memorial.birth_date | date }} - {{ memorial.death_date | date }}</h6>
    </div>
    <div class="actions">
      <button mat-button class="primary" [disabled]="saving" (click)="onTogglePublished(true)" *ngIf="!memorial?.published">
        <span *ngIf="!saving">Publish Memorial</span>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate" strokeWidth="1" diameter="20"></mat-progress-spinner>
      </button>
      <button mat-button class="primary" [disabled]="saving" (click)="onTogglePublished(false)" *ngIf="memorial?.published">
        <span *ngIf="!saving">Unpublish Memorial</span>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate" strokeWidth="1" diameter="20"></mat-progress-spinner>
      </button>
      <button mat-button class="primary" [routerLink]="['/memorial', memorial.uuid]">
        <span *ngIf="!memorial?.published">Preview Memorial</span>
        <span *ngIf="memorial?.published">View Memorial</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <button
    [routerLink]="['/create', memorial?.uuid]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-option"><mat-icon>list</mat-icon>Basic Info</button>
  <mat-divider></mat-divider>
  <button
    [routerLink]="['/create', memorial?.uuid, 'timeline']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-option"><mat-icon>timeline</mat-icon>Timeline</button>
  <mat-divider></mat-divider>
  <button
    [routerLink]="['/create', memorial?.uuid, 'location']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-option"><mat-icon>location_on</mat-icon>Location</button>
  <mat-divider></mat-divider>
  <button
    [routerLink]="['/create', memorial?.uuid, 'memories']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-option"><mat-icon>share</mat-icon>Memories</button>
  <mat-divider></mat-divider>
</div>
