<div *ngIf="currentPhoto" class="container">
  <div class="header" [class.denied]="currentPhoto.denied && !data.memorial.public_photo" [class.waiting]="!currentPhoto.denied && !currentPhoto.published && !data.memorial.public_photo">
    <p>{{ currentIndex + 1 }} of {{ total$ | async }}</p>
    <p *ngIf="currentPhoto.denied && !data.memorial.public_photo" class="warn">Photo denied by Memorial owner. It will only be visible to you.</p>
    <p *ngIf="!currentPhoto.denied && !currentPhoto.published && !data.memorial.public_photo">Photo awaiting approval by Memorial owner</p>
  </div>
  <div *ngIf="loaded$ | async" class="photo">
    <img class="mat-elevation-z3" [src]="getPhotoSrc(currentPhoto.asset_link)">
    <div class="actions">
      <button mat-mini-fab color="primary" [disabled]="editing || this.currentIndex === 0" (click)="previous()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="editing || this.currentIndex + 1 === (total$ | async)" (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
  <div *ngIf="loading$ | async" class="photo">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
  <div class="posted-by" *ngIf="loaded$ | async">
    <p>Posted by: {{ currentPhoto.first_name }} {{ currentPhoto.last_name }}</p>
  </div>
  <div *ngIf="canApprove && (loaded$ | async) && data.context !== 'view'" class="approve-actions">
    <button mat-button *ngIf="needsApproval || currentPhoto.denied" matTooltip="Accept Photo" [disabled]="saving$ | async" class="approve" (click)="onApprove(currentPhoto.uuid)">
      <mat-icon *ngIf="!(saving$ | async)">check</mat-icon>
      <mat-progress-spinner *ngIf="(saving$ | async)" mode="indeterminate" strokeWidth="1" diameter="20"></mat-progress-spinner>
    </button>
    <button mat-button *ngIf="needsApproval || currentPhoto.published" matTooltip="Deny Photo" [disabled]="saving$ | async" class="deny" (click)="onDeny(currentPhoto.uuid)">
      <mat-icon *ngIf="!(saving$ | async)">clear</mat-icon>
      <mat-progress-spinner *ngIf="saving$ | async" mode="indeterminate" color="accent" strokeWidth="1" diameter="20"></mat-progress-spinner>
    </button>
  </div>
  <div *ngIf="loaded$ | async" class="info" [class.approving]="canApprove && !data.memorial.public_photo && data.context !== 'view'">
    <div *ngIf="!editing" class="title">
      <h4 [class.empty]="!currentPhoto.title">{{ currentPhoto.title || 'No title' }}</h4>
      <p [class.empty]="!currentPhoto.description">{{ currentPhoto.description || 'No description' }}</p>
    </div>
    <div *ngIf="editing" class="title">
      <form [formGroup]="editForm">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>
        <div class="form-actions">
          <button mat-button color="primary" [disabled]="saving$ | async" (click)="updatePhoto(currentPhoto.uuid)" class="primary">
            <span *ngIf="!(saving$ | async)">Save</span>
            <span *ngIf="saving$ | async">...Saving</span>
          </button>
        </div>
      </form>
    </div>
    <button *ngIf="canEdit" mat-icon-button (click)="toggleEdit()" color="primary">
      <mat-icon *ngIf="!editing">edit</mat-icon>
      <mat-icon *ngIf="editing">close</mat-icon>
    </button>
    <div *ngIf="canDelete">
      <mat-menu #editMenu="matMenu">
        <button mat-menu-item (click)="toggleEdit()">Edit Text</button>
        <button mat-menu-item (click)="toggleDelete()">Delete</button>
      </mat-menu>
      <button *ngIf="!editing" mat-icon-button [matMenuTriggerFor]="editMenu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button *ngIf="editing && canDelete" mat-icon-button (click)="toggleEdit()" color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="overlay" *ngIf="deleting">
    <h4 *ngIf="!(saving$ | async)">Are you sure you want to delete this photo?</h4>
    <div *ngIf="!(saving$ | async)" class="confirmation">
      <button mat-flat-button color="warn" (click)="onDelete(currentId)">Yes</button>
      <button mat-button class="primary" (click)="toggleDelete()">No</button>
    </div>
    <mat-progress-spinner mode="indeterminate" color="primary" *ngIf="saving$ | async"></mat-progress-spinner>
  </div>
</div>
