<div class="footer">
  <div class="container">
    <img src="assets/imgs/logo-white.svg">
    <div class="links">
      <ul>
        <li><a (click)="openDialog('support')">Contact Support</a></li>
        <li><a (click)="openDialog('bug')">Report a Bug</a></li>
        <li><a href="#" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
        <li><a href="#" [routerLink]="['/terms']">Terms of Service</a></li>
        <li class="copyright">&copy; 2019 Mitch McCutchen LLC</li>
      </ul>
    </div>
  </div>
</div>
