@import "src/styles.scss";

.container {
  width: 100%;
  margin: auto;
  .hero {
    .hero-container {
      background-image: url("assets/imgs/hero.jpeg");
      background-position: 50% 10%;
      background-size: cover;
      width: 100%;
      height: rem(360);
      z-index: -1;
    }
    .container {
      mat-card {
        width: rem(620);
        width: fit-content;
        padding-left: rem(32);
        margin: rem(-62) auto 0;
      }
      h1 {
        font-size: rem(32);
        line-height: normal;
      }
      h1, h6 {
        width: rem(334);
      }
      h6 {
        margin-top: rem(16);
      }
      .action {
        margin: rem(32) 0;
        display: flex;
        justify-content: space-between;
        width: rem(330);
      }
    }
  }
  .subheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: rem(64);
    &.wrap {
      flex-wrap: wrap;
      margin-bottom: rem(128);
    }
    .about-img {
      background-image: url("assets/imgs/about.jpeg");
      background-position: 50% 65%;
      background-size: cover;
      width: rem(708);
      height: rem(400);
    }
    .album-img {
      background-image: url("assets/imgs/album.jpeg");
      background-position: 50% 65%;
      background-size: cover;
      width: rem(708);
      height: rem(400);
    }
    .text {
      width: rem(338);
      height: fit-content;
      h3 {
        margin-bottom: rem(32);
      }
      .example {
        margin-top: rem(16);
        a {
          color: map-get($colors, primary);
        }
      }
    }
  }
  .features {
    margin-top: rem(64);
    h3 {
      width: 85%;
      margin: auto;
    }
    .feature-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin-top: rem(32);
    }
    .list {
      background: map-get($colors, primary-lightest);
      padding: rem(16);
      width: 90%;
      max-width: rem(588);
      margin-bottom: rem(32);
    }
    p {
      max-width: rem(485);
      width: 80%;
      margin-bottom: rem(32);
      padding: 0 rem(16);
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: rem(8);
        color: map-get($colors, primary-darkest);
        mat-icon {
          margin-right: rem(8);
        }
      }
    }
  }
  .description {
    margin: rem(104) 0 rem(64);
    h3 {
      width: 85%;
      margin: auto;
    }
    .container {
      margin-bottom: rem(128);
      margin-top: rem(32);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .location-img {
      background-image: url("/assets/imgs/location.jpeg");
    }
    .timeline-img {
      background-image: url("assets/imgs/timeline.jpeg");
    }
    .memories-img {
      background-image: url("assets/imgs/memories.jpeg");
    }
    .location-img, .memories-img, .timeline-img {
      height: rem(272);
      width: rem(336);
      background-size: cover;
      margin: auto;
    }
    .location, .timeline, .memories {
      width: rem(336);
      margin-bottom: rem(32);
      background-color: map-get($colors, background);
      h5 {
        margin: rem(16) 0;
        padding-left: rem(16);
      }
      p {
        padding: 0 rem(16) rem(32);
      }
    }
  }
  .price {
    text-align: center;
    margin-top: rem(64);
    .price-cut {
      display: flex;
      align-items: flex-end;
      width: rem(161);
      width: fit-content;
      margin: rem(16) auto rem(8);
      .strike {
        text-decoration: line-through;
        font-size: rem(18);
        line-height: rem(18);
      }
      .final-price {
        font-size: rem(32);
        line-height: rem(32);
        color: map-get($colors, success);
      }
    }
  }
  .most-viewed {
    h3 {
      width: 85%;
      margin-bottom: rem(32);
      margin: auto;
    }
  }
  .popular {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: rem(390);
    margin: rem(32) auto 0;
    app-memorial-result-card {
      margin-bottom: rem(32);
    }
  }
  .cta {
    margin: rem(64) auto rem(133);
    width: rem(390);
    text-align: center;
    h6 {
      margin: rem(16) 0 rem(32);
    }
    .action {
      display: flex;
      justify-content: space-between;
      width: rem(335);
      margin: auto;
    }
  }
}
@include respond-to('small') {
  .container {
    .hero {
      .hero-container {
        height: rem(456);
      }
      .container {
        h1, h6 {
          width: rem(654);
        }
      }
    }
    .subheader {
      .text {
        width: rem(562);
        h3 {
          width: 75%;
        }
      }
    }
    .popular {
      width: rem(720);
      margin: rem(36) auto;
      justify-content: space-between;
    }
    .price {
      width: rem(776);
      margin: rem(64) auto rem(128);
      .price-cut {
        .strike {
          font-size: rem(32);
          line-height: rem(32);
        }
        .final-price {
          font-size: rem(64);
          line-height: rem(64);
        }
      }
    }
  }
}
@include respond-to('medium') {
  .container {
    width: rem(1176);
    .hero {
      .hero-container {
        width: rem(1176);
        height: rem(720);
      }
      .container {
        margin: rem(-238) 0 rem(100) rem(100);
        mat-card {
          margin: 0;
        }
        h1 {
          font-size: rem(60);
          line-height: rem(88);
        }
        h1, h6 {
          width: rem(620);
        }
      }
    }
    .subheader {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
      .text {
        width: rem(443);
        h3 {
          width: 90%;
        }
      }
    }
    .features {
      h3 {
        width: 100%;
        margin: 0;
      }
    }
    .popular {
      width: 100%;
    }
    .most-viewed {
      h3 {
        width: 100%;
        margin: 0;
      }
    }
    .description {
      margin: rem(104) 0 rem(128);
      h3 {
        width: 100%;
        margin: 0;
      }
      .container {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
      .location, .timeline, .memories, .album {
        margin-bottom: 0;
      }
    }
    .cta {
      width: rem(566);
    }
  }
}
