<div class="container">
  <div class="hero">
    <div class="hero-container">
    </div>
    <div class="container">
      <mat-card>
        <h1>Everyone Deserves to be Remembered.</h1>
        <h6>Memorialize your loved one's life story and provide a place for their memory to live on for future generations.</h6>
        <div class="action">
          <button mat-button class="secondary" [routerLink]="['/explore']">Search Memorials</button>
          <button mat-button class="primary" (click)="onCreateMemorial()">Create Memorial</button>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-card class="price mat-elevation-z8">
    <h3>LIMITED TIME</h3>
    <div class="price-cut">
      <p class="strike">$60</p>
      <p class="final-price">$30</p>
    </div>
    <h6>50% off new Memorials</h6>
    <h3>Launch Discount</h3>
  </mat-card>
  <div class="subheader">
    <div class="text">
      <h3>Create a lasting tribute to your loved ones.</h3>
      <p>
        Your life is more than a name and a couple of dates etched
        into a stone. Turn your loved one's final resting place into a
        celebration of their life and accomplishments for all to see,
        or create a lasting tribute at their favorite location on earth.
        We don't mean to forget, and now you never will.
      </p>
    </div>
    <div class="about-img"></div>
  </div>
  <div class="description">
    <h3>How it Works</h3>
    <div class="container">
      <div class="memories">
        <div class="memories-img"></div>
        <div class="about">
          <div class="content">
            <h5>Share Memories</h5>
            <p>
              Memorial provides a place for you to share memories of who your
              loved one was. Every memory added paints a deeper picture of the
              life you want to remember. Sharing the memorial on social media
              is a great way to let others know they can began adding their too.
              As the memorial owner you decide if you want to approve the memories
              before they are displayed, or if anyone can post their memories
              without having to wait for your approval.
            </p>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location-img"></div>
        <div class="content">
          <h5>Location</h5>
          <p>
            You decide where the memorial should be located. It can be placed
            digitally anywhere in the world for people to view from their phones,
            tablets, or computers. Anyone near your memorial will see it displayed
            on their search page under "Memorials near you". Imagine placing it
            at their final resting place and instead of visitors seeing a name
            and a couple of dates, they are able to see a glimps into the life
            of your loved one.
          </p>
        </div>
      </div>
      <div class="timeline">
        <div class="timeline-img">
        </div>
        <div class="content">
          <h5>Timeline</h5>
          <p>
            Create an interactive timeline celebrating your loved one's life.
            Each life event you add helps tell their story as photos
            and video bring it to life. This is where their personality really
            shines through. What better way for future generations to connect
            with those that came before.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="most-viewed">
    <h3>Take a look at some of the most viewed Memorials</h3>
    <div class="popular">
      <app-memorial-result-card *ngFor="let memorial of (popularMemorials$ | async)" [memorial]="memorial"></app-memorial-result-card>
    </div>
  </div>
  <div class="cta">
    <h3>Get Started</h3>
    <h6>
      Memorial helps you preserve the memory of your loved one for future generations.
      It’s more than a name and a couple of dates, it’s a celebration of their life.
    </h6>
    <div class="action">
      <button mat-button class="secondary" [routerLink]="['/explore']">Search Memorials</button>
      <button mat-button class="primary" (click)="onCreateMemorial()">Create Memorial</button>
    </div>
  </div>
</div>
