@import "src/styles.scss";

.image-border {
  position: relative;
  width: 100%;
  height: 52vw;
  overflow: hidden;
  margin: auto;
  h2 {
    position: absolute;
    bottom: 0;
    margin-left: rem(8);
    padding-bottom: rem(8);
    font-size: rem(32);
    color: map-get($colors, white);
  }
}
.hero {
  width: 100%;
  height: 52vw;
  &.portrait {
    height: 100vw;
  }
}
@include respond-to('small') {
  .image-border {
    width: rem(767);
    height: rem(408);
    h2 {
      margin-left: rem(60);
      font-size: rem(56);
    }
  }
  .hero {
    width: rem(767);
    height: rem(408);
    &.portrait {
      height: rem(767);
    }
  }
}
@include respond-to('medium') {
  .image-border {
    width: rem(1176);
    height: rem(657);
    h2 {
      margin-left: rem(122);
      padding-bottom: rem(33);
      font-size: rem(56);
    }
  }
  .hero {
    width: rem(1176);
    height: rem(657);
    &.portrait {
      height: rem(1176);
    }
  }
}

