@import "src/styles.scss";

mat-card {
  position: relative;
  width: rem(304);
  min-height: rem(256);
  cursor: pointer;
  .image {
    width: rem(336);
    height: rem(180);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
  }
  .info {
    margin-top: rem(180);
  }
}
