@import "src/styles.scss";

.map {
  position: fixed;
  top: rem(142);
  right: 0;
  left: 0;
  &.hide {
    visibility: hidden;
  }
  &.mobile-hide {
    display: none;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3 {
      color: map-get($colors, white);
      width: rem(432);
      text-align: center;
    }
  }
}
agm-map {
  width: 100%;
  height: 100vh;
  float: none;
}
.container {
  width: 100%;
  margin: auto;
  .hidden-desktop {
    margin-bottom: rem(12);
  }
  .memorials {
    width: rem(336);
    margin: auto;
  }
  .results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: rem(49) 0;
    .cards {
      margin-bottom: rem(20);
    }
  }
}
@include respond-to('small') {
  .container {
    .memorials {
      width: rem(696);
    }
  }
}
@include respond-to('medium') {
  .map {
    visibility: initial;
    left: 59%;
    top: rem(94);
    &.hide {
      visibility: initial;
    }
    &.mobile-hide {
      display: initial;
    }
  }
  agm-map {
    height: 100vw;
    display: block;
    height: calc(100vh - 94px);
  }
  .container {
    width: rem(1176);
    .memorials {
      margin: initial;
    }
    .hidden-desktop {
      display: none;
    }
  }
}

