<div class="container">
  <div class="memorials">
    <app-search-bar [searchQuery]="searchQuery$ | async" (search)="onSearch($event)"></app-search-bar>
    <div class="results">
      <div class="cards" (mouseenter)="onCardHover(memorial)" (mouseleave)="onCardHover()" *ngFor="let memorial of (memorials$ | async)">
        <app-memorial-result-card [memorial]="memorial" [markerHover]="hoveredMarker.memorial?.uuid"></app-memorial-result-card>
      </div>
    </div>
    <div *ngIf="(searchLoaded$ | async) && (searchQuery$ | async) && (memorials$ | async).length === 0">
      <h4>There are no results for {{ searchQuery$ | async }}</h4>
    </div>
    <div *ngIf="(searchLoaded$ | async) && !(searchQuery$ | async)">
      <h4>There are no more memorials within range of you.</h4>
    </div>
    <div *ngIf="(searchLoaded$ | async) && !(searchQuery$ | async) && (memorials$ | async).length === 0">
      <h4>There are no memorials in range. Search for a memorial by name.</h4>
    </div>
  </div>
</div>
<div class="map" *ngIf="!(searchQuery$ | async)">
  <agm-map
    [latitude]="latitude | async"
    [longitude]="longitude | async"
    [zoom]="12"
    [mapDraggable]="false"
    [draggableCursor]="'default'"
    (boundsChange)="onBoundChange($event)">
    <agm-marker-cluster>
      <agm-marker iconUrl="assets/imgs/baseline-my_location-24px.svg" [latitude]="latitude | async" [longitude]="longitude | async"></agm-marker>
      <agm-marker
        [iconUrl]="markerIcon(marker)"
        (markerClick)="onClick(marker)"
        *ngFor="let marker of (markers | async)"
        [latitude]="marker.latitude"
        [longitude]="marker.longitude"
        (mouseOver)="onMarkerHover(marker)"
        (mouseOut)="onMarkerLeave()"></agm-marker>
    </agm-marker-cluster>
  </agm-map>
</div>
<div class="map" *ngIf="searchQuery$ | async">
  <agm-map
    [latitude]="hoveredCard.latitude"
    [longitude]="hoveredCard.longitude"
    [zoom]="15"
    [mapDraggable]=false
    [draggableCursor]="'default'">
    <agm-marker
    iconUrl="assets/imgs/marker-hover.svg"
    *ngIf="hoveredCard.latitude && hoveredCard.longitude"
    (markerClick)="onClick(hoveredCard)"
    [latitude]="hoveredCard.latitude"
    [longitude]="hoveredCard.longitude"></agm-marker>
  </agm-map>
  <div class="cover" *ngIf="!hoveredCard.latitude || !hoveredCard.longitude">
    <h3 *ngIf="!hoveredCard.uuid">Hover over a Memorial to see it's location</h3>
    <h3 *ngIf="hoveredCard.uuid">This memorial does not have a location set</h3>
  </div>
</div>
