@import "src/styles.scss";

.loading-container {
  display: flex;
  justify-content: space-around;
  margin: rem(150) 0;
}
.container {
  width: 90%;
  margin: rem(60) auto;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    mat-form-field {
      width: 100%;
    }
  }
}
@include respond-to('small') {

}
@include respond-to('medium') {
  .container {
    width: rem(1176);
  }
}
