<div class="container">
  <mat-card class="mat-elevation-z4">
    <div class="link">
      <h4>Join Link</h4>
      <mat-chip-list class="chips">
        <mat-chip
          color="primary"
          selected#tooltip="matTooltip"
          [matTooltipDisabled]="false"
          [matTooltipHideDelay]="1000"
          matTooltip="Copy"
          aria-tooltip="Copy"
          matTooltipPosition="above"
          ngxClipboard
          [cbContent]="join_link"
          (click)="showToolTip(tooltip)">
          <mat-icon>link</mat-icon>
          <span>{{ join_link }}</span>
        </mat-chipcolor="primary">
      </mat-chip-list>
    </div>
    <p class="secondary">
      Adding members to your organization is as easy as sharing this join link.
      When a user visits the join link they are automatically added to your organization
      and can immediately begin managing your memorials.
    </p>
  </mat-card>
</div>
