@import "src/assets/styles/_variables.scss";

.inputfile + label {
  background-color: map-get($colors, primary);
  border-radius: 2px;
  font-family: $sansFont;
  color: map-get($colors, white);
}
.error {
  color: map-get($colors, warn);
}
