<form [formGroup]="quantityForm">
  <h3>Order Details</h3>
  <div class="cost">
    <h4>Memorial</h4>
    <p>{{ unitPrice | currency }} each</p>
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" formControlName="quantity" min="1" (click)="setPrice()" (change)="setPrice()">
    </mat-form-field>
  </div>
</form>
<div class="order">
  <div *ngIf="discount?.percent" class="discounted-unit">
    <div class="original">
      <h5>Memorial</h5>
      <p>x1</p>
      <p>{{ unitPrice | currency }}</p>
    </div>
    <div class="discount">
      <p>Discount</p>
      <p>{{ displayPercent }}%</p>
      <p>- {{ unitPrice * (discount.percent / 100) | currency }}</p>
    </div>
    <div class="total">
      <p>{{ unitPrice - (unitPrice * (discount.percent / 100)) | currency }}</p>
    </div>
  </div>
  <div *ngIf="!discount?.percent || quantityForm.value.quantity > 1" class="section">
    <h5>Memorial</h5>
    <p>x{{ displayQuantity }}</p>
    <p>{{ quantityTotal | currency }}</p>
  </div>
  <div class="total">
    <p>Total: {{ quantityForm.value.price | currency }}</p>
  </div>
</div>
