@import "src/styles.scss";

.cost {
  position: relative;
  padding-bottom: rem(16);
  p {
    display: inline;
  }
  mat-form-field {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(80);
  }
}
.order {
  .section {
    padding: rem(8) 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid map-get($colors, black);
    border-bottom: 1px solid map-get($colors, black);
  }
  .discounted-unit {
    border-top: 1px solid map-get($colors, black);
    border-bottom: 1px solid map-get($colors, black);
    .original, .discount {
      display: flex;
      justify-content: space-between
    }
  }
  .total {
    display: flex;
    justify-content: flex-end;
    padding: rem(16) 0;
    p {
      color: map-get($colors, success);
    }
  }
  .discount-price {
    color: map-get($colors, warn);
  }
}
@include respond-to('small') {
  .cost {
    position: initial;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: initial;
    mat-form-field {
      position: initial;
    }
  }
}
