@import "src/styles.scss";

.container {
  width: 95%;
  margin: rem(68) auto rem(125);
  .name {
    flex-wrap: wrap;
    mat-form-field {
      width: 100%;
    }
  }
  .name, .dates {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  h4 {
    margin: rem(64) 0 rem(38);
  }
  .dates {
    margin-top: rem(38);
    mat-form-field {
      width: 48%;
    }
  }
  .description {
    width: 100%;
    mat-form-field {
      width: 100%;
      height: 250px;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
@include respond-to('small') {
  .container {
    width: rem(696);
    .name {
      flex-wrap: initial;
      mat-form-field {
        width: initial;
      }
    }
  }
}
@include respond-to('medium') {
}
