<div class="overflow-box">
  <div class="flourish">
    <div class="flourish-container">
      <div class="box-1-container">
        <div class="box-1"></div>
      </div>
      <div class="box-2"></div>
      <div class="box-3"></div>
    </div>
  </div>
  <div class="container mat-elevation-z3">
    <h4>Next, add some dates and descriptions to build out the timeline.</h4>
    <div *ngFor="let event of timeline">
      <app-timeline-form [timeline]="event" [editingIds]="editingIds$ | async"></app-timeline-form>
      <div class="spacer"></div>
    </div>
    <div class="action">
      <button mat-button class="primary" [class.saving]="(saving$ | async)" [disabled]="saving$ | async" (click)="onAddEvent()">
        <span *ngIf="!(saving$ | async)">
          <mat-icon>add</mat-icon> Add Event
        </span>
        <span *ngIf="saving$ | async">
          <mat-progress-spinner strokeWidth="1" diameter="20" mode="indeterminate" color="secondary"></mat-progress-spinner>
        </span>
      </button>
      <button mat-button class="primary" (click)="onNavToLocation()">Next <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
