@import "src/styles.scss";

.container {
  width: rem(696);
  margin: rem(68) auto rem(125);
  .spacer {
    width: 100%;
    border: 1px solid map-get($colors, gray);
  }
  button {
    margin: rem(60) 0;
  }
  .action {
    display: flex;
    justify-content: space-between;
  }
}
