@import "src/styles.scss";

.container {
  width: 95%;
  margin: rem(68) auto rem(125);
  .spacer {
    width: 100%;
    border: 1px solid map-get($colors, gray);
  }
  button {
    margin: rem(60) 0;
    span {
      display: flex;
      align-items: center;
    }
  }
  .action {
    display: flex;
    justify-content: space-between;
  }
  .saving {
    padding: rem(8) rem(42);
  }
}
@include respond-to('small') {
  .container {
    width: rem(696);
  }
}
