@import "src/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  width: rem(400);
  margin: rem(70) auto;
  .asset {
    width: 100%;
    height: rem(224);
    &.portrait {
      height: rem(400)
    }
    &.image-border {
      overflow: hidden;
    }
    &.video-asset {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: map-get($colors, background);
      iframe {
        width: rem(400);
        height: rem(224);
      }
    }
  }
  .info {
    margin-top: rem(16);
    position: relative;
    width: rem(352);
    padding: rem(24) rem(24) rem(92);
    height: fit-content;
    background: map-get($colors, background);
    h2 {
      margin-bottom: rem(12);
    }
  }
  .timeline-nav {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: rem(12);
    }
    button {
      background: none;
      border: none;
      width: rem(50);
      &.next {
        transform: scaleX(-1);
      }
      mat-icon {
        font-size: rem(30);
      }
    }
  }
}
@include respond-to('small') {
  .container {
    width: rem(576);
    .asset {
      height: rem(320);
      &.portrait {
        height: rem(576);
      }
      &.video-asset {
        iframe {
          width: rem(496);
          height: rem(272);
        }
      }
    }
    .info {
      width: rem(528);
      &.text-only {
        width: 100%;
      }
    }
  }

}
@include respond-to('medium') {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: rem(1176);
    margin: rem(70) auto;
    .asset {
      width: rem(704);
      height: rem(370);
      &.portrait {
        height: rem(704);
      }
      &.video-asset {
        iframe {
          width: rem(600);
          height: rem(371);
        }
      }
    }
    .info {
      position: relative;
      margin-top: 0;
      width: rem(392);
      min-height: rem(257);
      padding: rem(32);
      padding-bottom: rem(80);
      height: fit-content;
      background: map-get($colors, background);
      h2 {
        margin-bottom: rem(12);
      }
    }
    .timeline-nav {
      position: absolute;
      bottom: 32px;
      left: 32px;
      right: 32px;
      display: flex;
      justify-content: space-between;
      p {
        font-size: rem(12);
      }
      button {
        background: none;
        border: none;
        width: rem(50);
        &.next {
          transform: scaleX(-1);
        }
        mat-icon {
          font-size: rem(30);
        }
      }
    }
  }
}
