<app-interactive-timeline [timeline]="timeline" [memorial]="memorial" [currentDate]="timeline[index].date" (navigate)="onNavigateToIndex($event)"></app-interactive-timeline>
<div class="container">
  <div class="asset image-border"
    *ngIf="timeline[index].asset_type === 'image'">
    <div
      class="asset desktop"
      [style.background-image]="imgBackground.background"
      [style.background-repeat]="imgBackground.repeat"
      [style.background-position]="imgBackground.position"
      [style.background-size]="imgBackground.size"
      [style.transform]="imgBackground.scale"
      [class.portrait]="timeline[index].rot === 90 || timeline[index].rot === 270">
    </div>
    <div
      class="asset mobile"
      [style.background-image]="imgBackgroundMobile.background"
      [style.background-repeat]="imgBackgroundMobile.repeat"
      [style.background-position]="imgBackgroundMobile.position"
      [style.background-size]="imgBackgroundMobile.size"
      [style.transform]="imgBackgroundMobile.scale"
      [class.portrait]="timeline[index].rot === 90 || timeline[index].rot === 270">
    </div>
  </div>
  <div class="asset video-asset" *ngIf="timeline[index].asset_type === 'video'">
    <iframe [src]="videoSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="info" [ngClass]="timeline[index].asset_type || 'text-only'">
    <h3>{{ timeline[index].date | date:timeline[index].date_format }}</h3>
    <p>{{ timeline[index].description }}</p>
    <div class="timeline-nav">
      <p>{{ index + 1 }} of {{ timeline.length }} Dates</p>
      <div class="buttons">
        <button class="previous" *ngIf="index != 0" (click)="onNavigate(-1)"><mat-icon>keyboard_backspace</mat-icon></button>
        <button class="next" *ngIf="index + 1 < timeline.length" (click)="onNavigate(1)"><mat-icon>keyboard_backspace</mat-icon></button>
      </div>
    </div>
  </div>
</div>
