@import "src/assets/styles/_variables.scss";

.container {
  width: 89%;
  margin: auto;
  padding-bottom: rem(100);
  .ribbons {
    width: rem(190);
  }
  .form-container {
    padding: rem(16);
    background: rgba(255,255,255,0.9);
    img {
      width: rem(80);
      margin-right: rem(16);
    }
    mat-expansion-panel.mat-expansion-panel {
      margin: rem(8) 0;
    }
    .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
      align-items: center;
      justify-content: space-between;
      .title {
        display: flex;
        align-items: center;
      }
    }
  }
}
@include respond-to('small') {
  .container {
    width: rem(696);
    .form-container {
      padding: rem(32);
    }
  }
}
